ðŸ§¹ Data Cleaning

In [2]:
import pandas as pd
import numpy as np

# Adjust paths if needed
train_path = "../data/raw/train.csv"
test_path = "../data/raw/test.csv"

train = pd.read_csv(train_path)
test = pd.read_csv(test_path)

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
# Check uniqueness of PassengerId in train and test
print("Train PassengerId unique:", train['PassengerId'].is_unique)
print("Test  PassengerId unique:", test['PassengerId'].is_unique)

print("Train PassengerId range:", train['PassengerId'].min(), "to", train['PassengerId'].max())
print("Test  PassengerId range:", test['PassengerId'].min(), "to", test['PassengerId'].max())

# Check for missing
print("Train PassengerId missing:", train['PassengerId'].isna().sum())
print("Test  PassengerId missing:", test['PassengerId'].isna().sum())

Train PassengerId unique: True
Test  PassengerId unique: True
Train PassengerId range: 1 to 891
Test  PassengerId range: 892 to 1309
Train PassengerId missing: 0
Test  PassengerId missing: 0

In [5]:
# Optional: set PassengerId as index in *copies* of the data for convenience
train_df = train.set_index('PassengerId').copy()
test_df = test.set_index('PassengerId').copy()

train_df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# Survived is our target
train_df['Survived'].value_counts(dropna=False)

Survived
0    549
1    342
Name: count, dtype: int64

In [7]:
train_df['Survived'] = train_df['Survived'].astype(int)

In [8]:
y = train_df['Survived'].copy()
X = train_df.drop(columns=['Survived']).copy()

In [9]:
print("TRAIN:")
print("Unique:", X['Pclass'].unique())
print("Missing:", X['Pclass'].isna().sum())
print(X['Pclass'].value_counts(), "\n")

print("TEST:")
print("Unique:", test_df['Pclass'].unique())
print("Missing:", test_df['Pclass'].isna().sum())
print(test_df['Pclass'].value_counts(), "\n")

TRAIN:
Unique: [3 1 2]
Missing: 0
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

TEST:
Unique: [3 2 1]
Missing: 0
Pclass
3    218
1    107
2     93
Name: count, dtype: int64

In [10]:
# Cast to int
X['Pclass'] = X['Pclass'].astype(int)
test_df['Pclass'] = test_df['Pclass'].astype(int)

# Convert to categorical dtype
X['Pclass'] = X['Pclass'].astype('category')
test_df['Pclass'] = test_df['Pclass'].astype('category')

In [11]:
# Inspect Pclass in train and test
print("TRAIN:", X['Pclass'].unique(), "Missing:", X['Pclass'].isna().sum())
print("TEST: ", test_df['Pclass'].unique(), "Missing:", test_df['Pclass'].isna().sum())

# Correct dtype
X['Pclass'] = X['Pclass'].astype('category')
test_df['Pclass'] = test_df['Pclass'].astype('category')

TRAIN: [3, 1, 2]
Categories (3, int64): [1, 2, 3] Missing: 0
TEST:  [3, 2, 1]
Categories (3, int64): [1, 2, 3] Missing: 0

In [12]:
print("TRAIN missing:", X['Name'].isna().sum())
print("TEST  missing:", test_df['Name'].isna().sum())

print("\nTRAIN examples:")
X['Name'].head(10).tolist()

TRAIN missing: 0
TEST  missing: 0

TRAIN examples:

['Braund, Mr. Owen Harris',
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Heikkinen, Miss. Laina',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Allen, Mr. William Henry',
 'Moran, Mr. James',
 'McCarthy, Mr. Timothy J',
 'Palsson, Master. Gosta Leonard',
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 'Nasser, Mrs. Nicholas (Adele Achem)']

In [13]:
import re

def extract_title(name):
    match = re.search(r',\s*([^\.]+)\.', name)
    return match.group(1).strip() if match else "Unknown"

X['Title'] = X['Name'].apply(extract_title)
test_df['Title'] = test_df['Name'].apply(extract_title)

In [14]:
X['Title'].value_counts()

Title
Mr              517
Miss            182
Mrs             125
Master           40
Dr                7
Rev               6
Col               2
Mlle              2
Major             2
Ms                1
Mme               1
Don               1
Lady              1
Sir               1
Capt              1
the Countess      1
Jonkheer          1
Name: count, dtype: int64

In [15]:
def inspect_column(df, column_name, show_values=False):
    col = df[column_name]
    print(f"--- {column_name} ---")
    print(f"Total observations: {len(col)}")
    print(f"Missing values:     {col.isna().sum()}")
    print(f"Unique values:      {col.nunique()}")

    # Show sample unique values
    uniques = col.unique()
    print(f"First few unique values: {uniques[:10]}")
    
    if show_values:
        print("\nValue counts:")
        print(col.value_counts(dropna=False))
    print("\n")

In [16]:
inspect_column(X, 'Name', show_values=False)
inspect_column(test_df, 'Name', show_values=False)

--- Name ---
Total observations: 891
Missing values:     0
Unique values:      891
First few unique values: ['Braund, Mr. Owen Harris'
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
 'Heikkinen, Miss. Laina' 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
 'Allen, Mr. William Henry' 'Moran, Mr. James' 'McCarthy, Mr. Timothy J'
 'Palsson, Master. Gosta Leonard'
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)'
 'Nasser, Mrs. Nicholas (Adele Achem)']


--- Name ---
Total observations: 418
Missing values:     0
Unique values:      418
First few unique values: ['Kelly, Mr. James' 'Wilkes, Mrs. James (Ellen Needs)'
 'Myles, Mr. Thomas Francis' 'Wirz, Mr. Albert'
 'Hirvonen, Mrs. Alexander (Helga E Lindqvist)'
 'Svensson, Mr. Johan Cervin' 'Connolly, Miss. Kate'
 'Caldwell, Mr. Albert Francis'
 'Abrahim, Mrs. Joseph (Sophie Halaut Easu)' 'Davies, Mr. John Samuel']

In [17]:
# =====================================================
# Enhanced Title Engineering
# =====================================================

# 1. Define the mapping from original titles to groups
title_map = {
    # Core groups
    'Mr': 'Mr',
    'Mrs': 'Mrs',
    'Miss': 'Miss',
    'Master': 'Master',

    # Variants â†’ Core
    'Mlle': 'Miss',
    'Ms': 'Miss',
    'Mme': 'Mrs',

    # Officer group
    'Dr': 'Officer',
    'Rev': 'Officer',
    'Col': 'Officer',
    'Major': 'Officer',
    'Capt': 'Officer',
    'Officer': 'Officer',
    'Judge': 'Officer',

    # Royalty group
    'Sir': 'Royalty',
    'Lady': 'Royalty',
    'Countess': 'Royalty',
    'the Countess': 'Royalty',
    'Jonkheer': 'Royalty',
    'Dona': 'Royalty',
    'Don': 'Royalty'   # Note: Don is ambiguous but treated as Royalty consistently
}

# 2. Consolidate TRAIN
X['Title'] = (
    X['Title']
    .astype(str)                      # convert to string first (avoid category warnings)
    .map(title_map)
    .fillna('Other')                  # all unmapped titles fall here
    .astype('category')
)

# 3. Consolidate TEST
test_df['Title'] = (
    test_df['Title']
    .astype(str)
    .map(title_map)
    .fillna('Other')
    .astype('category')
)

# 4. Align categories between TRAIN and TEST
all_title_levels = sorted(set(X['Title']).union(set(test_df['Title'])))
X['Title'] = X['Title'].cat.set_categories(all_title_levels)
test_df['Title'] = test_df['Title'].cat.set_categories(all_title_levels)

In [18]:
X['Title'].value_counts()

Title
Mr         517
Miss       185
Mrs        126
Master      40
Officer     18
Royalty      5
Name: count, dtype: int64

In [19]:
X['Title'] = X['Title'].astype('category')
test_df['Title'] = test_df['Title'].astype('category')

In [20]:
X = X.drop(columns=['Name'])
test_df = test_df.drop(columns=['Name'])

In [21]:
inspect_column(X, 'Sex', show_values=True)
inspect_column(test_df, 'Sex', show_values=True)

--- Sex ---
Total observations: 891
Missing values:     0
Unique values:      2
First few unique values: ['male' 'female']

Value counts:
Sex
male      577
female    314
Name: count, dtype: int64


--- Sex ---
Total observations: 418
Missing values:     0
Unique values:      2
First few unique values: ['male' 'female']

Value counts:
Sex
male      266
female    152
Name: count, dtype: int64

In [22]:
X['Sex'] = X['Sex'].astype('category')
test_df['Sex'] = test_df['Sex'].astype('category')

In [23]:
def validate_title_gender(df):
    """
    Checks consistency between Title and Sex for the Titanic dataset.
    Returns a DataFrame of any mismatches.
    """

    rules = {
        "Mr": "male",
        "Master": "male",
        "Miss": "female",
        "Mrs": "female"
    }

    mismatches = []

    for title, expected_sex in rules.items():
        bad_rows = df[(df['Title'] == title) & (df['Sex'] != expected_sex)]
        if not bad_rows.empty:
            mismatches.append(bad_rows)

    if mismatches:
        return pd.concat(mismatches)
    else:
        # Return an empty DataFrame with appropriate columns
        return df.iloc[0:0]

In [24]:
print("Checking TRAIN (X):")
mismatches_train = validate_title_gender(X)
mismatches_train

Checking TRAIN (X):

Empty DataFrame
Columns: [Pclass, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Title]
Index: []

In [25]:
print("Checking TEST:")
mismatches_test = validate_title_gender(test_df)
mismatches_test

Checking TEST:

Empty DataFrame
Columns: [Pclass, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Title]
Index: []

In [26]:
inspect_column(X, 'Age', show_values=False)
inspect_column(test_df, 'Age', show_values=False)

--- Age ---
Total observations: 891
Missing values:     177
Unique values:      88
First few unique values: [22. 38. 26. 35. nan 54.  2. 27. 14.  4.]


--- Age ---
Total observations: 418
Missing values:     86
Unique values:      79
First few unique values: [34.5 47.  62.  27.  22.  14.  30.  26.  18.  21. ]

In [27]:
X['AgeMissing'] = X['Age'].isna().astype(int)
test_df['AgeMissing'] = test_df['Age'].isna().astype(int)

# Make it categorical (binary category)
X['AgeMissing'] = X['AgeMissing'].astype('category')
test_df['AgeMissing'] = test_df['AgeMissing'].astype('category')

In [28]:
age_medians = X.groupby(['Sex', 'Pclass'], observed=True)['Age'].median()
age_medians

Sex     Pclass
female  1         35.0
        2         28.0
        3         21.5
male    1         40.0
        2         30.0
        3         25.0
Name: Age, dtype: float64

In [29]:
def impute_age(row, medians):
    if pd.isna(row['Age']):
        return medians.loc[row['Sex'], row['Pclass']]
    else:
        return row['Age']

In [30]:
X['Age'] = X.apply(lambda row: impute_age(row, age_medians), axis=1)
test_df['Age'] = test_df.apply(lambda row: impute_age(row, age_medians), axis=1)

In [31]:
print("Remaining missing in X Age:", X['Age'].isna().sum())
print("Remaining missing in test Age:", test_df['Age'].isna().sum())

Remaining missing in X Age: 0
Remaining missing in test Age: 0

In [32]:
X['Age'] = X['Age'].astype(float)
test_df['Age'] = test_df['Age'].astype(float)

In [33]:
X.loc[X['AgeMissing'] == 1, ['Sex', 'Pclass', 'AgeMissing', 'Age']].head(20)

                Sex Pclass AgeMissing   Age
PassengerId
6              male      3          1  25.0
18             male      2          1  30.0
20           female      3          1  21.5
27             male      3          1  25.0
29           female      3          1  21.5
30             male      3          1  25.0
32           female      1          1  35.0
33           female      3          1  21.5
37             male      3          1  25.0
43             male      3          1  25.0
46             male      3          1  25.0
47             male      3          1  25.0
48           female      3          1  21.5
49             male      3          1  25.0
56             male      1          1  40.0
65             male      1          1  40.0
66             male      3          1  25.0
77             male      3          1  25.0
78             male      3          1  25.0
83           female      3          1  21.5

In [34]:
inspect_column(X, 'SibSp', show_values=True)
inspect_column(test_df, 'SibSp', show_values=True)

--- SibSp ---
Total observations: 891
Missing values:     0
Unique values:      7
First few unique values: [1 0 3 4 2 5 8]

Value counts:
SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64


--- SibSp ---
Total observations: 418
Missing values:     0
Unique values:      7
First few unique values: [0 1 2 3 4 5 8]

Value counts:
SibSp
0    283
1    110
2     14
3      4
4      4
8      2
5      1
Name: count, dtype: int64

In [35]:
print("SibSp missing:", X['SibSp'].isna().sum(), test_df['SibSp'].isna().sum())
print("Unique values:", sorted(X['SibSp'].unique()))
print("dtype:", X['SibSp'].dtype)

SibSp missing: 0 0
Unique values: [np.int64(0), np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(8)]
dtype: int64

In [36]:
X['SibSp'] = X['SibSp'].astype(int)
test_df['SibSp'] = test_df['SibSp'].astype(int)

In [37]:
inspect_column(X, 'Parch', show_values=True)
inspect_column(test_df, 'Parch', show_values=True)

--- Parch ---
Total observations: 891
Missing values:     0
Unique values:      7
First few unique values: [0 1 2 5 3 4 6]

Value counts:
Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64


--- Parch ---
Total observations: 418
Missing values:     0
Unique values:      8
First few unique values: [0 1 3 2 4 6 5 9]

Value counts:
Parch
0    324
1     52
2     33
3      3
4      2
9      2
6      1
5      1
Name: count, dtype: int64

In [38]:
print("Parch missing:", X['Parch'].isna().sum(), test_df['Parch'].isna().sum())
print("Unique values:", sorted(X['Parch'].unique()))
print("dtype:", X['Parch'].dtype)

Parch missing: 0 0
Unique values: [np.int64(0), np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6)]
dtype: int64

In [39]:
# Ensure integer type
X['Parch'] = X['Parch'].astype(int)
test_df['Parch'] = test_df['Parch'].astype(int)

In [40]:
inspect_column(X, 'Ticket', show_values=True)
inspect_column(test_df, 'Ticket', show_values=True)

--- Ticket ---
Total observations: 891
Missing values:     0
Unique values:      681
First few unique values: ['A/5 21171' 'PC 17599' 'STON/O2. 3101282' '113803' '373450' '330877'
 '17463' '349909' '347742' '237736']

Value counts:
Ticket
347082              7
1601                7
CA. 2343            7
3101295             6
CA 2144             6
                   ..
PC 17590            1
17463               1
330877              1
373450              1
STON/O2. 3101282    1
Name: count, Length: 681, dtype: int64


--- Ticket ---
Total observations: 418
Missing values:     0
Unique values:      363
First few unique values: ['330911' '363272' '240276' '315154' '3101298' '7538' '330972' '248738'
 '2657' 'A/4 48871']

Value counts:
Ticket
PC 17608              5
CA. 2343              4
113503                4
347077                3
SOTON/O.Q. 3101315    3
                     ..
330972                1
7538                  1
3101298               1
315154                1
240276                1
Name: count, Length: 363, dtype: int64

In [41]:
import re

def clean_ticket(ticket):
    # Remove leading/trailing spaces
    ticket = ticket.strip()
    # Replace dots and slashes with spaces
    ticket = re.sub(r"[./]", " ", ticket)
    # Collapse multiple spaces into one
    ticket = re.sub(r"\s+", " ", ticket)
    return ticket

X['Ticket_clean'] = X['Ticket'].apply(clean_ticket)
test_df['Ticket_clean'] = test_df['Ticket'].apply(clean_ticket)

In [42]:
X[['Ticket', 'Ticket_clean']].head(20)

                       Ticket     Ticket_clean
PassengerId
1                   A/5 21171        A 5 21171
2                    PC 17599         PC 17599
3            STON/O2. 3101282  STON O2 3101282
4                      113803           113803
5                      373450           373450
6                      330877           330877
7                       17463            17463
8                      349909           349909
9                      347742           347742
10                     237736           237736
11                    PP 9549          PP 9549
12                     113783           113783
13                  A/5. 2151         A 5 2151
14                     347082           347082
15                     350406           350406
16                     248706           248706
17                     382652           382652
18                     244373           244373
19                     345763           345763
20                       2649             2649

In [43]:
def extract_ticket_prefix(ticket):
    parts = ticket.split(" ")
    # If first part is numeric, no prefix
    if parts[0].isdigit():
        return "NONE"
    return parts[0].upper()

X['TicketPrefix'] = X['Ticket_clean'].apply(extract_ticket_prefix)
test_df['TicketPrefix'] = test_df['Ticket_clean'].apply(extract_ticket_prefix)

In [44]:
inspect_column(X, 'TicketPrefix', show_values=True)
inspect_column(test_df, 'TicketPrefix', show_values=True)

--- TicketPrefix ---
Total observations: 891
Missing values:     0
Unique values:      20
First few unique values: ['A' 'PC' 'STON' 'NONE' 'PP' 'C' 'SC' 'S' 'CA' 'SO']

Value counts:
TicketPrefix
NONE     661
PC        60
C         33
A         28
STON      18
SOTON     17
CA        14
S         14
SC        13
W         11
F          6
LINE       4
PP         3
P          2
WE         2
SO         1
A4         1
FA         1
SCO        1
SW         1
Name: count, dtype: int64


--- TicketPrefix ---
Total observations: 418
Missing values:     0
Unique values:      14
First few unique values: ['NONE' 'A' 'W' 'SC' 'STON' 'PC' 'C' 'SOTON' 'F' 'PP']

Value counts:
TicketPrefix
NONE     296
PC        32
C         22
SC        12
A         11
SOTON     10
CA         8
S          7
F          6
W          6
STON       4
AQ         2
PP         1
LP         1
Name: count, dtype: int64

In [45]:
X['TicketPrefix'] = X['TicketPrefix'].str.strip().astype('category')
test_df['TicketPrefix'] = test_df['TicketPrefix'].str.strip().astype('category')

In [46]:
X = X.drop(columns=['Ticket'])
test_df = test_df.drop(columns=['Ticket'])

In [47]:
X[['Ticket_clean', 'TicketPrefix']].sample(20, random_state=42)

                 Ticket_clean TicketPrefix
PassengerId
710                      2661         NONE
440                 C A 18723            C
841          SOTON O2 3101287        SOTON
721                    248727         NONE
40                       2651         NONE
291                     19877         NONE
301                      9234         NONE
334                    345764         NONE
209                    367231         NONE
137                     11752         NONE
138                    113803         NONE
697                    363592         NONE
486                      4133         NONE
245                      2694         NONE
345                    229236         NONE
854                  PC 17592           PC
622                     11753         NONE
654                    330919         NONE
887                    211536         NONE
111                    110465         NONE

In [48]:
prefix_examples = (
    X[['Ticket_clean', 'TicketPrefix']]
    .groupby('TicketPrefix', observed=True)
    .head(3)
    .sort_values('TicketPrefix')
)

prefix_examples

                  Ticket_clean TicketPrefix
PassengerId
1                    A 5 21171            A
38                    A 5 2152            A
13                    A 5 2151            A
122                   A4 54510           A4
34                   C A 24579            C
59                   C A 34651            C
57                   C A 31026            C
72                     CA 2144           CA
160                    CA 2343           CA
60                     CA 2144           CA
441                F C C 13529            F
212                F C C 13528            F
315                F C C 13529            F
155                  Fa 265302           FA
180                       LINE         LINE
272                       LINE         LINE
303                       LINE         LINE
4                       113803         NONE
6                       330877         NONE
5                       373450         NONE
309                  P PP 3381            P
875                  P PP 3381            P
2                     PC 17599           PC
31                    PC 17601           PC
32                    PC 17569           PC
395                    PP 9549           PP
11                     PP 9549           PP
226                    PP 4348           PP
73                 S O C 14879            S
68                    S P 3464            S
46               S C A 4 23567            S
182              SC PARIS 2131           SC
136              SC PARIS 2133           SC
44               SC Paris 2123           SC
240                 SCO W 1585          SCO
85                  SO C 14885           SO
88             SOTON OQ 392086        SOTON
158            SOTON OQ 392090        SOTON
132          SOTON O Q 3101307        SOTON
143            STON O2 3101279         STON
3              STON O2 3101282         STON
116           STON O 2 3101294         STON
227                  SW PP 751           SW
148                   W C 6608            W
87                    W C 6608            W
93                  W E P 5734            W
746                  WE P 5735           WE
541                  WE P 5735           WE

In [49]:
inspect_column(X, 'Fare', show_values=False)
inspect_column(test_df, 'Fare', show_values=False)

--- Fare ---
Total observations: 891
Missing values:     0
Unique values:      248
First few unique values: [ 7.25   71.2833  7.925  53.1     8.05    8.4583 51.8625 21.075  11.1333
 30.0708]


--- Fare ---
Total observations: 418
Missing values:     1
Unique values:      169
First few unique values: [ 7.8292  7.      9.6875  8.6625 12.2875  9.225   7.6292 29.      7.2292
 24.15  ]

In [50]:
print("Train missing:", X['Fare'].isna().sum())
print("Test missing:", test_df['Fare'].isna().sum())

Train missing: 0
Test missing: 1

In [51]:
X['FareMissing'] = X['Fare'].isna().astype(int).astype('category')
test_df['FareMissing'] = test_df['Fare'].isna().astype(int).astype('category')

In [52]:
fare_medians = X.groupby('Pclass', observed=True)['Fare'].median()
fare_medians

Pclass
1    60.2875
2    14.2500
3     8.0500
Name: Fare, dtype: float64

In [53]:
test_fare_was_missing = test_df['Fare'].isna().copy()
test_fare_was_missing.sum()  # should be 1

np.int64(1)

In [54]:
def impute_fare(row, medians):
    if pd.isna(row['Fare']):
        return medians.loc[row['Pclass']]
    else:
        return row['Fare']

X['Fare'] = X.apply(lambda row: impute_fare(row, fare_medians), axis=1)
test_df['Fare'] = test_df.apply(lambda row: impute_fare(row, fare_medians), axis=1)

In [55]:
# Get the rows in test that *were* missing before imputation
test_missing_rows = test_df[test_fare_was_missing]

print(test_missing_rows[['Pclass', 'Fare']])
print("Train fare medians by Pclass:\n", fare_medians)

# Programmatic check
def check_fare_imputation(row):
    expected = fare_medians.loc[row['Pclass']]
    return row['Fare'] == expected

all_good = test_missing_rows.apply(check_fare_imputation, axis=1).all()
print("All imputed test Fares match train medians:", all_good)

            Pclass  Fare
PassengerId
1044             3  8.05
Train fare medians by Pclass:
 Pclass
1    60.2875
2    14.2500
3     8.0500
Name: Fare, dtype: float64
All imputed test Fares match train medians: True

In [56]:
print("Missing Fare in train:", X['Fare'].isna().sum())
print("Missing Fare in test:", test_df['Fare'].isna().sum())

Missing Fare in train: 0
Missing Fare in test: 0

In [57]:
X['Fare'] = X['Fare'].astype(float)
test_df['Fare'] = test_df['Fare'].astype(float)

In [58]:
inspect_column(X, 'Cabin', show_values=True)
inspect_column(test_df, 'Cabin', show_values=True)

--- Cabin ---
Total observations: 891
Missing values:     687
Unique values:      147
First few unique values: [nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78']

Value counts:
Cabin
NaN            687
G6               4
C23 C25 C27      4
B96 B98          4
F2               3
              ...
E17              1
A24              1
C50              1
B42              1
C148             1
Name: count, Length: 148, dtype: int64


--- Cabin ---
Total observations: 418
Missing values:     327
Unique values:      76
First few unique values: [nan 'B45' 'E31' 'B57 B59 B63 B66' 'B36' 'A21' 'C78' 'D34' 'D19' 'A9']

Value counts:
Cabin
NaN                327
B57 B59 B63 B66      3
B45                  2
C23 C25 C27          2
C78                  2
                  ...
B41                  1
C7                   1
D40                  1
D38                  1
C105                 1
Name: count, Length: 77, dtype: int64

In [59]:
X['CabinKnown'] = X['Cabin'].notna().astype(int)
test_df['CabinKnown'] = test_df['Cabin'].notna().astype(int)

X['CabinKnown'] = X['CabinKnown'].astype('category')
test_df['CabinKnown'] = test_df['CabinKnown'].astype('category')

In [60]:
def extract_deck(cabin):
    if pd.isna(cabin):
        return "Unknown"
    cabin_str = str(cabin).strip()
    # Take the first non-space character
    return cabin_str[0]

X['CabinDeck'] = X['Cabin'].apply(extract_deck)
test_df['CabinDeck'] = test_df['Cabin'].apply(extract_deck)

X['CabinDeck'] = X['CabinDeck'].astype('category')
test_df['CabinDeck'] = test_df['CabinDeck'].astype('category')

In [61]:
inspect_column(X, 'CabinDeck', show_values=True)
inspect_column(test_df, 'CabinDeck', show_values=True)

--- CabinDeck ---
Total observations: 891
Missing values:     0
Unique values:      9
First few unique values: ['Unknown', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T']
Categories (9, object): ['A', 'B', 'C', 'D', ..., 'F', 'G', 'T', 'Unknown']

Value counts:
CabinDeck
Unknown    687
C           59
B           47
D           33
E           32
A           15
F           13
G            4
T            1
Name: count, dtype: int64


--- CabinDeck ---
Total observations: 418
Missing values:     0
Unique values:      8
First few unique values: ['Unknown', 'B', 'E', 'A', 'C', 'D', 'F', 'G']
Categories (8, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'Unknown']

Value counts:
CabinDeck
Unknown    327
C           35
B           18
D           13
E            9
F            8
A            7
G            1
Name: count, dtype: int64

In [62]:
X[['Cabin', 'CabinDeck', 'CabinKnown']].sample(30, random_state=42)

            Cabin CabinDeck CabinKnown
PassengerId
710           NaN   Unknown          0
440           NaN   Unknown          0
841           NaN   Unknown          0
721           NaN   Unknown          0
40            NaN   Unknown          0
291           NaN   Unknown          0
301           NaN   Unknown          0
334           NaN   Unknown          0
209           NaN   Unknown          0
137           D47         D          1
138          C123         C          1
697           NaN   Unknown          0
486           NaN   Unknown          0
245           NaN   Unknown          0
345           NaN   Unknown          0
854           D28         D          1
622           D19         D          1
654           NaN   Unknown          0
887           NaN   Unknown          0
111          C110         C          1
295           NaN   Unknown          0
448           NaN   Unknown          0
193           NaN   Unknown          0
683           NaN   Unknown          0
539           NaN   Unknown          0
820           NaN   Unknown          0
31            NaN   Unknown          0
674           NaN   Unknown          0
64            NaN   Unknown          0
397           NaN   Unknown          0

In [63]:
test_df[['Cabin', 'CabinDeck', 'CabinKnown']].sample(30, random_state=42)

             Cabin CabinDeck CabinKnown
PassengerId
1213         F E57         F          1
1216           NaN   Unknown          0
1280           NaN   Unknown          0
948            NaN   Unknown          0
1045           NaN   Unknown          0
922            NaN   Unknown          0
964            NaN   Unknown          0
974            NaN   Unknown          0
1150           NaN   Unknown          0
1308           NaN   Unknown          0
901            NaN   Unknown          0
1283           D28         D          1
996            NaN   Unknown          0
1306          C105         C          1
1305           NaN   Unknown          0
931            NaN   Unknown          0
1304           NaN   Unknown          0
1270           C39         C          1
947            NaN   Unknown          0
1298           NaN   Unknown          0
1279           NaN   Unknown          0
1137           D21         D          1
1301           NaN   Unknown          0
1072           NaN   Unknown          0
1117           NaN   Unknown          0
1005           NaN   Unknown          0
1256           E50         E          1
1040           NaN   Unknown          0
1229           NaN   Unknown          0
970            NaN   Unknown          0

In [64]:
X = X.drop(columns=['Cabin'])
test_df = test_df.drop(columns=['Cabin'])

In [65]:
inspect_column(X, 'Embarked', show_values=True)
inspect_column(test_df, 'Embarked', show_values=True)

--- Embarked ---
Total observations: 891
Missing values:     2
Unique values:      3
First few unique values: ['S' 'C' 'Q' nan]

Value counts:
Embarked
S      644
C      168
Q       77
NaN      2
Name: count, dtype: int64


--- Embarked ---
Total observations: 418
Missing values:     0
Unique values:      3
First few unique values: ['Q' 'S' 'C']

Value counts:
Embarked
S    270
C    102
Q     46
Name: count, dtype: int64

In [66]:
missing_embarked_rows = X[X['Embarked'].isna()]
missing_embarked_rows

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,AgeMissing,Ticket_clean,TicketPrefix,FareMissing,CabinKnown,CabinDeck
PassengerId,,,,,,,,,,,,,,
62,1,female,38.0,0,0,80.0,NaN,Miss,0,113572,NONE,0,1,B
830,1,female,62.0,0,0,80.0,NaN,Mrs,0,113572,NONE,0,1,B

In [67]:
X[(X['Pclass'] == 1) & (X['Fare'] == 80.0)]['Embarked'].value_counts()

Series([], Name: count, dtype: int64)

In [68]:
X[(X['Pclass'] == 1) & (X['Fare'].between(70, 90))]['Embarked'].value_counts()

Embarked
S    20
C    19
Q     2
Name: count, dtype: int64

In [69]:
X[X['CabinDeck'] == 'B']['Embarked'].value_counts()

Embarked
S    23
C    22
Name: count, dtype: int64

In [70]:
X[X['Ticket_clean'] == '113572']['Embarked'].value_counts()

Series([], Name: count, dtype: int64)

In [71]:
mask = (X['TicketPrefix'] == 'NONE') & (X['Ticket_clean'].str.startswith('113'))
X[mask]['Embarked'].value_counts()

Embarked
S    41
C     4
Name: count, dtype: int64

In [72]:
X.loc[X['Embarked'].isna(), 'Embarked'] = 'S'

In [73]:
X['Embarked'] = X['Embarked'].astype('category')
test_df['Embarked'] = test_df['Embarked'].astype('category')

In [74]:
print("Missing values in TRAIN:")
print(X.isna().sum())

print("\nMissing values in TEST:")
print(test_df.isna().sum())

Missing values in TRAIN:
Pclass          0
Sex             0
Age             0
SibSp           0
Parch           0
Fare            0
Embarked        0
Title           0
AgeMissing      0
Ticket_clean    0
TicketPrefix    0
FareMissing     0
CabinKnown      0
CabinDeck       0
dtype: int64

Missing values in TEST:
Pclass          0
Sex             0
Age             0
SibSp           0
Parch           0
Fare            0
Embarked        0
Title           0
AgeMissing      0
Ticket_clean    0
TicketPrefix    0
FareMissing     0
CabinKnown      0
CabinDeck       0
dtype: int64

In [75]:
pd.DataFrame({'dtype': X.dtypes})

                 dtype
Pclass        category
Sex           category
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked      category
Title         category
AgeMissing    category
Ticket_clean    object
TicketPrefix  category
FareMissing   category
CabinKnown    category
CabinDeck     category

In [76]:
pd.DataFrame({'dtype': test_df.dtypes})

                 dtype
Pclass        category
Sex           category
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked      category
Title         category
AgeMissing    category
Ticket_clean    object
TicketPrefix  category
FareMissing   category
CabinKnown    category
CabinDeck     category

In [77]:
set(X.columns)

{'Age',
 'AgeMissing',
 'CabinDeck',
 'CabinKnown',
 'Embarked',
 'Fare',
 'FareMissing',
 'Parch',
 'Pclass',
 'Sex',
 'SibSp',
 'TicketPrefix',
 'Ticket_clean',
 'Title'}

In [78]:
set(test_df.columns)

{'Age',
 'AgeMissing',
 'CabinDeck',
 'CabinKnown',
 'Embarked',
 'Fare',
 'FareMissing',
 'Parch',
 'Pclass',
 'Sex',
 'SibSp',
 'TicketPrefix',
 'Ticket_clean',
 'Title'}

In [79]:
import pandas as pd

def final_audit(X, test_df):
    print("=== 1. Missing Values Check ===")
    print("TRAIN:")
    print(X.isna().sum())
    print("\nTEST:")
    print(test_df.isna().sum())
    
    print("\n=== 2. Dtype Check ===")
    display(pd.DataFrame({'dtype': X.dtypes}))
    display(pd.DataFrame({'dtype': test_df.dtypes}))
    
    print("\n=== 3. Column Alignment Check ===")
    train_cols = set(X.columns)
    test_cols = set(test_df.columns)
    print("Columns in TRAIN but not TEST:", train_cols - test_cols)
    print("Columns in TEST but not TRAIN:", test_cols - train_cols)
    
    print("\n=== 4. Categorical Level Consistency ===")
    cat_cols = X.select_dtypes(['category']).columns
    for col in cat_cols:
        train_levels = set(X[col].cat.categories)
        test_levels = set(test_df[col].cat.categories)
        print(f"{col}:")
        print("  Levels in TRAIN not in TEST:", train_levels - test_levels)
        print("  Levels in TEST not in TRAIN:", test_levels - train_levels)
    
    print("\n=== 5. Logical Consistency Checks ===")
    
    # CabinKnown must correspond to CabinDeck == 'Unknown'
    cabin_check_train = (X['CabinKnown'] == 0) == (X['CabinDeck'] == 'Unknown')
    cabin_check_test = (test_df['CabinKnown'] == 0) == (test_df['CabinDeck'] == 'Unknown')
    
    print("Cabin consistency TRAIN:", cabin_check_train.all())
    print("Cabin consistency TEST:", cabin_check_test.all())
    
    # Title-sex logical consistency (no mismatches)
    def validate_title_gender(df):
        rules = {"Mr": "male", "Master": "male", "Miss": "female", "Mrs": "female"}
        mismatches = []
        for title, sex in rules.items():
            bad = df[(df['Title'] == title) & (df['Sex'] != sex)]
            if not bad.empty:
                mismatches.append(bad)
        if mismatches:
            return pd.concat(mismatches)
        return pd.DataFrame()
    
    mism_train = validate_title_gender(X)
    mism_test = validate_title_gender(test_df)
    
    print("Title/sex consistency TRAIN:", "OK" if mism_train.empty else "FAIL")
    print("Title/sex consistency TEST:", "OK" if mism_test.empty else "FAIL")
    
    if not mism_train.empty:
        display(mism_train)
    if not mism_test.empty:
        display(mism_test)
    
    print("\n=== 6. Random Row Spot-Checks ===")
    display(X.sample(5, random_state=1))
    display(test_df.sample(5, random_state=1))


# Run the audit
final_audit(X, test_df)

=== 1. Missing Values Check ===
TRAIN:
Pclass          0
Sex             0
Age             0
SibSp           0
Parch           0
Fare            0
Embarked        0
Title           0
AgeMissing      0
Ticket_clean    0
TicketPrefix    0
FareMissing     0
CabinKnown      0
CabinDeck       0
dtype: int64

TEST:
Pclass          0
Sex             0
Age             0
SibSp           0
Parch           0
Fare            0
Embarked        0
Title           0
AgeMissing      0
Ticket_clean    0
TicketPrefix    0
FareMissing     0
CabinKnown      0
CabinDeck       0
dtype: int64

=== 2. Dtype Check ===

                 dtype
Pclass        category
Sex           category
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked      category
Title         category
AgeMissing    category
Ticket_clean    object
TicketPrefix  category
FareMissing   category
CabinKnown    category
CabinDeck     category

                 dtype
Pclass        category
Sex           category
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked      category
Title         category
AgeMissing    category
Ticket_clean    object
TicketPrefix  category
FareMissing   category
CabinKnown    category
CabinDeck     category

=== 3. Column Alignment Check ===
Columns in TRAIN but not TEST: set()
Columns in TEST but not TRAIN: set()

=== 4. Categorical Level Consistency ===
Pclass:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
Sex:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
Embarked:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
Title:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
AgeMissing:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
TicketPrefix:
  Levels in TRAIN not in TEST: {'SCO', 'WE', 'P', 'SW', 'A4', 'SO', 'FA', 'LINE'}
  Levels in TEST not in TRAIN: {'AQ', 'LP'}
FareMissing:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: {1}
CabinKnown:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
CabinDeck:
  Levels in TRAIN not in TEST: {'T'}
  Levels in TEST not in TRAIN: set()

=== 5. Logical Consistency Checks ===
Cabin consistency TRAIN: True
Cabin consistency TEST: True
Title/sex consistency TRAIN: OK
Title/sex consistency TEST: OK

=== 6. Random Row Spot-Checks ===

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,AgeMissing,Ticket_clean,TicketPrefix,FareMissing,CabinKnown,CabinDeck
PassengerId,,,,,,,,,,,,,,
863,1,female,48.0,0,0,25.9292,S,Mrs,0,17466,NONE,0,1,D
224,3,male,25.0,0,0,7.8958,S,Mr,1,349234,NONE,0,0,Unknown
85,2,female,17.0,0,0,10.5000,S,Miss,0,SO C 14885,SO,0,0,Unknown
681,3,female,21.5,0,0,8.1375,Q,Miss,1,330935,NONE,0,0,Unknown
536,2,female,7.0,0,2,26.2500,S,Miss,0,F C C 13529,F,0,0,Unknown

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,AgeMissing,Ticket_clean,TicketPrefix,FareMissing,CabinKnown,CabinDeck
PassengerId,,,,,,,,,,,,,,
1250,3,male,25.0,0,0,7.7500,Q,Mr,1,368402,NONE,0,0,Unknown
1056,2,male,41.0,0,0,13.0000,S,Officer,0,237393,NONE,0,0,Unknown
909,3,male,21.0,0,0,7.2250,C,Mr,0,2692,NONE,0,0,Unknown
959,1,male,47.0,0,0,42.4000,S,Mr,0,113796,NONE,0,0,Unknown
896,3,female,22.0,1,1,12.2875,S,Mrs,0,3101298,NONE,0,0,Unknown

In [80]:
train_prefix_counts = X['TicketPrefix'].value_counts().sort_values(ascending=False)
train_prefix_counts

TicketPrefix
NONE     661
PC        60
C         33
A         28
STON      18
SOTON     17
S         14
CA        14
SC        13
W         11
F          6
LINE       4
PP         3
WE         2
P          2
A4         1
FA         1
SCO        1
SO         1
SW         1
Name: count, dtype: int64

In [81]:
test_prefix_counts = test_df['TicketPrefix'].value_counts().sort_values(ascending=False)
test_prefix_counts

TicketPrefix
NONE     296
PC        32
C         22
SC        12
A         11
SOTON     10
CA         8
S          7
F          6
W          6
STON       4
AQ         2
LP         1
PP         1
Name: count, dtype: int64

In [82]:
# ============================================================
# CLEAN TICKETPREFIX (Full, Warning-Free, Reusable Block)
# ============================================================

import numpy as np

# --- STEP 1: Compute frequency distribution in TRAIN ---
prefix_counts = X['TicketPrefix'].value_counts()

# Define threshold for "rare" prefixes
rare_threshold = 10
rare_prefixes = prefix_counts[prefix_counts < rare_threshold].index.tolist()

print("Rare prefixes detected in TRAIN:", rare_prefixes)

# Identify prefixes that appear only in TEST (not in TRAIN)
test_only_prefixes = set(test_df['TicketPrefix'].unique()) - set(X['TicketPrefix'].unique())
test_only_prefixes = list(test_only_prefixes)

print("Prefixes only in TEST:", test_only_prefixes)

# --- STEP 2: Convert TicketPrefix to string before replacing (prevents FutureWarnings) ---
X['TicketPrefix'] = X['TicketPrefix'].astype(str)
test_df['TicketPrefix'] = test_df['TicketPrefix'].astype(str)

# --- STEP 3: Collapse rare TRAIN prefixes into "OTHER" ---
X['TicketPrefix'] = X['TicketPrefix'].replace(rare_prefixes, 'OTHER')
test_df['TicketPrefix'] = test_df['TicketPrefix'].replace(rare_prefixes, 'OTHER')

# --- STEP 4: Collapse TEST-only prefixes into "OTHER" ---
X['TicketPrefix'] = X['TicketPrefix'].replace(test_only_prefixes, 'OTHER')
test_df['TicketPrefix'] = test_df['TicketPrefix'].replace(test_only_prefixes, 'OTHER')

# --- STEP 5: Convert back to category dtype ---
X['TicketPrefix'] = X['TicketPrefix'].astype('category')
test_df['TicketPrefix'] = test_df['TicketPrefix'].astype('category')

# --- STEP 6: Align category levels between TRAIN and TEST ---
all_prefix_levels = sorted(set(X['TicketPrefix']).union(set(test_df['TicketPrefix'])))

X['TicketPrefix'] = X['TicketPrefix'].cat.set_categories(all_prefix_levels)
test_df['TicketPrefix'] = test_df['TicketPrefix'].cat.set_categories(all_prefix_levels)

# --- OPTIONAL: Show new frequency table for checking ---
print("\nFinal TRAIN TicketPrefix counts:")
print(X['TicketPrefix'].value_counts())

print("\nFinal TEST TicketPrefix counts:")
print(test_df['TicketPrefix'].value_counts())

Rare prefixes detected in TRAIN: ['F', 'LINE', 'PP', 'WE', 'P', 'A4', 'FA', 'SCO', 'SO', 'SW']
Prefixes only in TEST: ['AQ', 'LP']

Final TRAIN TicketPrefix counts:
TicketPrefix
NONE     661
PC        60
C         33
A         28
OTHER     22
STON      18
SOTON     17
CA        14
S         14
SC        13
W         11
Name: count, dtype: int64

Final TEST TicketPrefix counts:
TicketPrefix
NONE     296
PC        32
C         22
SC        12
A         11
SOTON     10
OTHER     10
CA         8
S          7
W          6
STON       4
Name: count, dtype: int64

In [83]:
X['FareMissing'] = X['FareMissing'].cat.add_categories([1])

In [84]:
test_df['CabinDeck'] = test_df['CabinDeck'].cat.add_categories(['T'])

In [85]:
final_audit(X, test_df)

=== 1. Missing Values Check ===
TRAIN:
Pclass          0
Sex             0
Age             0
SibSp           0
Parch           0
Fare            0
Embarked        0
Title           0
AgeMissing      0
Ticket_clean    0
TicketPrefix    0
FareMissing     0
CabinKnown      0
CabinDeck       0
dtype: int64

TEST:
Pclass          0
Sex             0
Age             0
SibSp           0
Parch           0
Fare            0
Embarked        0
Title           0
AgeMissing      0
Ticket_clean    0
TicketPrefix    0
FareMissing     0
CabinKnown      0
CabinDeck       0
dtype: int64

=== 2. Dtype Check ===

                 dtype
Pclass        category
Sex           category
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked      category
Title         category
AgeMissing    category
Ticket_clean    object
TicketPrefix  category
FareMissing   category
CabinKnown    category
CabinDeck     category

                 dtype
Pclass        category
Sex           category
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked      category
Title         category
AgeMissing    category
Ticket_clean    object
TicketPrefix  category
FareMissing   category
CabinKnown    category
CabinDeck     category

=== 3. Column Alignment Check ===
Columns in TRAIN but not TEST: set()
Columns in TEST but not TRAIN: set()

=== 4. Categorical Level Consistency ===
Pclass:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
Sex:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
Embarked:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
Title:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
AgeMissing:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
TicketPrefix:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
FareMissing:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
CabinKnown:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()
CabinDeck:
  Levels in TRAIN not in TEST: set()
  Levels in TEST not in TRAIN: set()

=== 5. Logical Consistency Checks ===
Cabin consistency TRAIN: True
Cabin consistency TEST: True
Title/sex consistency TRAIN: OK
Title/sex consistency TEST: OK

=== 6. Random Row Spot-Checks ===

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,AgeMissing,Ticket_clean,TicketPrefix,FareMissing,CabinKnown,CabinDeck
PassengerId,,,,,,,,,,,,,,
863,1,female,48.0,0,0,25.9292,S,Mrs,0,17466,NONE,0,1,D
224,3,male,25.0,0,0,7.8958,S,Mr,1,349234,NONE,0,0,Unknown
85,2,female,17.0,0,0,10.5000,S,Miss,0,SO C 14885,OTHER,0,0,Unknown
681,3,female,21.5,0,0,8.1375,Q,Miss,1,330935,NONE,0,0,Unknown
536,2,female,7.0,0,2,26.2500,S,Miss,0,F C C 13529,OTHER,0,0,Unknown

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,AgeMissing,Ticket_clean,TicketPrefix,FareMissing,CabinKnown,CabinDeck
PassengerId,,,,,,,,,,,,,,
1250,3,male,25.0,0,0,7.7500,Q,Mr,1,368402,NONE,0,0,Unknown
1056,2,male,41.0,0,0,13.0000,S,Officer,0,237393,NONE,0,0,Unknown
909,3,male,21.0,0,0,7.2250,C,Mr,0,2692,NONE,0,0,Unknown
959,1,male,47.0,0,0,42.4000,S,Mr,0,113796,NONE,0,0,Unknown
896,3,female,22.0,1,1,12.2875,S,Mrs,0,3101298,NONE,0,0,Unknown

In [86]:
# =======================================
# SAVE CLEANED TRAIN & TEST DATA (INTERIM)
# =======================================

import os

# Ensure directory exists
os.makedirs("../data/interim", exist_ok=True)

# ----------------------------
# 1. Save TRAIN (features + target)
# ----------------------------
train_full_clean = X.copy()   # X = cleaned feature matrix
train_full_clean['Survived'] = y  # y = target variable

train_full_clean.to_csv(
    "../data/interim/train_clean.csv",
    index=True   # index = PassengerId
)

# ----------------------------
# 2. Save TEST (features only)
# ----------------------------
test_df.to_csv(
    "../data/interim/test_clean.csv",
    index=True   # index = PassengerId
)

# ----------------------------
# (Optional) Save pickles with full dtypes (recommended)
# ----------------------------
train_full_clean.to_pickle("../data/interim/train_clean.pkl")
test_df.to_pickle("../data/interim/test_clean.pkl")

print("Saved cleaned TRAIN and TEST datasets to ../data/interim/")

Saved cleaned TRAIN and TEST datasets to ../data/interim/

In [87]:
import json

categorical_cols = X.select_dtypes(['category']).columns

meta = {
    col: list(X[col].cat.categories)
    for col in categorical_cols
}

with open("../data/interim/clean_metadata.json", "w") as f:
    json.dump(meta, f, indent=4)

meta

{'Pclass': [1, 2, 3],
 'Sex': ['female', 'male'],
 'Embarked': ['C', 'Q', 'S'],
 'Title': ['Master', 'Miss', 'Mr', 'Mrs', 'Officer', 'Royalty'],
 'AgeMissing': [0, 1],
 'TicketPrefix': ['A',
  'C',
  'CA',
  'NONE',
  'OTHER',
  'PC',
  'S',
  'SC',
  'SOTON',
  'STON',
  'W'],
 'FareMissing': [0, 1],
 'CabinKnown': [0, 1],
 'CabinDeck': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T', 'Unknown']}